html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-style: normal;
  vertical-align: baseline;
  white-space: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;
}

form {
  height: inherit;
}

iframe {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FCFCFC;
}

header {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 80px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 14px 14px;
  max-width: 1350px;
  position: relative;
}

header .container .right__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .right__part.active {
  left: 0;
}

header .container .right__part nav {
  margin-right: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .right__part nav a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  padding: 0 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

header .container .right__part nav a:last-child {
  border-right: 0;
}

header .container .right__part nav a:hover:nth-child(1),
header .container .right__part nav a:hover:last-child {
  color: #51CD3C;
}

header .container .right__part nav a:hover:nth-child(2) {
  color: #0085FF;
}

header .container .right__part .btns__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .right__part .btns__wrapper a {
  border-radius: 43px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .right__part .btns__wrapper a span {
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
}

header .container .right__part .btns__wrapper a:nth-child(1) {
  background: #51CD3C;
  margin-right: 10px;
}

header .container .right__part .btns__wrapper a:nth-child(2) {
  background: #0085FF;
}

header .container .mobile__menu {
  position: relative;
  width: 20px;
  height: 17px;
  display: none;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

header .container .mobile__menu::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

header .container .mobile__menu.active span:nth-child(1) {
  width: 0%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-65%);
      -ms-transform: translateY(-65%);
          transform: translateY(-65%);
}

header .container .mobile__menu.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

header .container .mobile__menu.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

header .container .mobile__menu.active span:nth-child(4) {
  width: 0%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-65%);
      -ms-transform: translateY(-65%);
          transform: translateY(-65%);
}

header .container .mobile__menu span {
  width: 20px;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

header .container .mobile__menu span:nth-child(1) {
  top: 0;
}

header .container .mobile__menu span:nth-child(2),
header .container .mobile__menu span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
}

header .container .mobile__menu span:nth-child(4) {
  bottom: 0;
}

.intro {
  padding: 220px 0;
  position: relative;
}

.intro::before {
  content: "";
  background: url("../img/intro_bg.svg") no-repeat center/cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.intro .container .intro__inner {
  position: relative;
  z-index: 5;
}

.intro .container .intro__inner * {
  color: #000;
}

.intro .container .intro__inner .logo {
  margin-bottom: 20px;
}

.intro .container .intro__inner h1 {
  font-size: 37px;
  font-weight: 600;
  font-family: "Raleway";
  margin-bottom: 20px;
}

.intro .container .intro__inner div {
  display: block;
  margin-bottom: 20px;
}

.intro .container .intro__inner div p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat";
}

.intro .container .intro__inner div p span {
  font-weight: 600;
}

.intro .container .gears {
  position: absolute;
  right: 0;
  top: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro .exchanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .exchanger .block__exchange__changer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__courses {
  margin-top: 80px;
}

.our__courses .container {
  display: block;
}

.our__courses .container .main__title {
  margin-bottom: 25px;
}

.our__courses .container .courses__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
}

.our__courses .container .courses__inner * {
  color: #000 !important;
}

.our__courses .container .courses__inner .appointment__block {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__courses .container .courses__inner .appointment__block .col {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.our__courses .container .courses__inner .appointment__block .col p {
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway";
}

.our__courses .container .courses__inner .appointment__block .col:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.our__courses .container .courses__inner .appointment__block .col:nth-child(1) p {
  margin-left: 20%;
}

.our__courses .container .courses__inner .block__courses {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__courses .container .courses__inner .block__courses .col {
  width: 25%;
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.our__courses .container .courses__inner .block__courses .col .valuta__name:nth-child(2) {
  margin-bottom: 0;
}

.our__courses .container .courses__inner .block__courses .col:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.our__courses .container .courses__inner .block__courses .col:nth-child(1) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.our__courses .container .courses__inner .block__courses .col:nth-child(1) p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__courses .container .courses__inner .block__courses .col:nth-child(1) p img {
  margin-right: 8px;
}

.our__courses .container .courses__inner .block__courses .col:nth-child(1) p span {
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway";
  white-space: nowrap;
}

.our__courses .container .courses__inner .block__courses .col:nth-child(2),
.our__courses .container .courses__inner .block__courses .col:nth-child(3) {
  margin-bottom: 7px;
}

.our__courses .container .courses__inner .block__courses .col p {
  text-align: left;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter";
}

.our__courses .container .courses__inner .block__courses .col p:nth-child(1) {
  margin-bottom: 15px;
}

.our__courses .container .courses__inner .block__courses .col p .appointment__name {
  display: none;
}

.exchange__changer {
  margin-top: 70px;
}

.exchange__changer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.exchange__changer .container .exchanhe__changer__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
  border-radius: 25px;
  padding: 43px 20px 43px 56px;
  width: 100%;
  max-width: 413px;
  overflow: hidden;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway";
  margin-bottom: 20px;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger select {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 28px;
  font-weight: 600;
  font-family: "Raleway";
  position: relative;
  margin-right: 35px;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger select option {
  cursor: pointer !important;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
  width: 100%;
  max-width: 11rem;
  border: none;
  outline: none;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::-webkit-input-placeholder {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::-moz-placeholder {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input:-ms-input-placeholder {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::-ms-input-placeholder {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::placeholder {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger .convert__result {
  color: #000;
  font-size: 68px;
  font-weight: 600;
  font-family: "Raleway";
  width: 100%;
  max-width: 11rem;
  overflow-x: scroll;
  padding-bottom: 0 !important;
}

.exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger .convert__result::-webkit-scrollbar {
  width: 0;
  display: none;
}

.exchange__changer .container .exchanhe__changer__block .exchange__arrows {
  padding: 16px;
  background: #FFFFFF;
  border-radius: 9px;
  margin: 25px;
  cursor: pointer;
}

.exchange__changer .container .exchanhe__changer__block .custom__margin {
  height: 1px;
  width: 20px;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}

.exchange__changer .container .btn {
  width: 170px;
  height: 170px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 60px;
}

.our__services {
  margin-top: 80px;
}

.our__services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.our__services .container .subtitle {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 1.3;
  margin-bottom: 25px;
}

.our__services .container .services__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__services .container .services__inner .main {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
}

.our__services .container .services__inner .main .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  /* @media (max-width:940px) {

  } */
}

.our__services .container .services__inner .main .head .top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.our__services .container .services__inner .main .head .top__block img {
  height: 54px;
}

.our__services .container .services__inner .main .head .top__block svg {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.our__services .container .services__inner .main .head .top__block svg.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.our__services .container .services__inner .main .head .top__block p {
  display: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  font-family: "Raleway";
}

.our__services .container .services__inner .main .head p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway";
}

.our__services .container .services__inner .main .body {
  margin-top: 30px;
  display: none;
  height: 15rem;
}

.our__services .container .services__inner .main .body p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 1.4;
}

.our__services .container .services__inner .main .body p:nth-child(2) {
  margin-top: 20px;
}

.company__title {
  margin: 80px auto 0;
  padding: 20px;
  color: #000 !important;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway";
  text-align: center;
  width: 100%;
  max-width: 41rem;
}

.company__title span {
  font-weight: 600 !important;
}

.warranty {
  margin-top: 80px;
}

.warranty .container {
  display: block;
}

.warranty .container .warranty__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.warranty .container .warranty__inner .col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 45px;
  padding-left: 15px;
}

.warranty .container .warranty__inner .col .picture__wrap {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.warranty .container .warranty__inner .col p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat";
}

.warranty .container .end__title {
  text-align: center;
  color: #606060;
  font-size: 10px;
  font-weight: 400;
  font-family: "Raleway";
}

.actual__courses {
  margin-top: 80px;
  padding: 0 40px;
}

.actual__courses .container {
  background: #E1FFE4;
  border-radius: 35px;
  padding: 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.actual__courses .container .left {
  display: block;
}

.actual__courses .container .left .title {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  font-family: "Raleway";
  margin-bottom: 15px;
  line-height: 1.4;
  width: 100%;
  max-width: 39rem;
}

.actual__courses .container .left .subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway";
  margin-bottom: 35px;
}

.actual__courses .container .mob {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9%;
}

.map {
  margin-top: 80px;
}

.map .container * {
  border: none !important;
  outline: none !important;
}

.healthy__info {
  margin-top: 80px;
}

.healthy__info .container {
  display: block;
}

.healthy__info .container .info__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.healthy__info .container .info__inner .main {
  width: 32.5%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.1);
}

.healthy__info .container .info__inner .main .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px;
  min-height: 150px;
  cursor: pointer;
}

.healthy__info .container .info__inner .main .head p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 1.4;
  padding-right: 1rem;
}

.healthy__info .container .info__inner .main .head svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  width: 8px;
  height: 13px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.healthy__info .container .info__inner .main .head svg.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.healthy__info .container .info__inner .main .body {
  padding: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 1.4;
  padding-right: 1rem;
  display: none;
}

.any__questions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}

.any__questions p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway";
  margin-bottom: 25px;
}

.any__questions a {
  padding: 15px 45px;
  background: #252525;
  border-radius: 25px;
}

.any__questions a span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: "Raleway";
  position: relative;
}

.any__questions a span::before {
  content: "";
  background: url("../img/svg/green_vector.svg") no-repeat center/cover;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  right: -1rem;
}

footer {
  margin-top: 90px;
  background: #FFFFFF;
  padding: 45px 0 200px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .footer_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .footer_col img {
  margin-bottom: 10px;
  max-width: 200px;
  width: 100%;
}

footer .container .footer_col .logo__paragraph {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  font-family: "Raleway";
}

footer .container .footer_col .title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway";
  margin-bottom: 25px;
}

footer .container .footer_col .go_to_tg {
  background: #0085FF;
  border-radius: 43px;
  padding: 12px 25px 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .footer_col .go_to_tg img {
  width: 20px !important;
  height: 16px;
  margin-bottom: 0 !important;
}

footer .container .footer_col .go_to_tg span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 10px;
}

footer .container .services a {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  font-family: "Raleway";
}

footer .container .services a:not(:last-child) {
  margin-bottom: 15px;
}

footer .container .services a:hover {
  text-decoration: underline;
}

section,
header,
footer {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1205px;
  padding: 0 45px;
  margin: 0 auto;
}

.main__title {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  font-family: "Raleway";
  margin-bottom: 25px;
}

.tg__button {
  background: #252525;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tg__button span {
  color: #FFFFFF !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway";
  margin-right: 7px;
}

.tg__button img {
  margin-bottom: 0 !important;
}

@media (max-width: 1240px) {
  header .container {
    padding: 25px 35px;
  }
}

@media (max-width: 1204px) {
  .our__services .container .services__inner .main .body {
    height: 16rem;
  }
}

@media (max-width: 1120px) {
  header .container .right__part nav {
    margin-right: 35px;
  }
}

@media (max-width: 1115px) {
  .our__services .container .services__inner .main .body {
    height: 17rem;
  }
}

@media (max-width: 1100px) {
  .exchange__changer .container .exchanhe__changer__block .exchange__container {
    padding: 30px 20px 30px 35px;
  }

  .exchange__changer .container .btn {
    margin-left: 30px;
  }
}

@media (max-width: 1090px) {
  .our__services .container .services__inner .main .body {
    height: 20rem;
  }
}

@media (max-width: 992px) {
  header .container {
    padding: 15px 20px;
  }

  header .container .right__part {
    position: absolute;
    top: 100%;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    background: #fff;
    padding-bottom: 2rem;
  }

  header .container .right__part nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-right: 0;
  }

  header .container .right__part nav a:nth-child(1) {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }

  header .container .right__part nav a {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  header .container .right__part .btns__wrapper {
    margin-top: 2rem;
  }

  header .container .mobile__menu {
    display: block;
  }

  .intro {
    padding: 175px 0 80px;
  }

  .intro .container .intro__inner .logo {
    width: 85px;
  }

  .our__courses .container .courses__inner {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }

  .our__courses .container .courses__inner .appointment__block {
    display: none;
  }

  .our__courses .container .courses__inner .block__courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .our__courses .container .courses__inner .block__courses .col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }

  .our__courses .container .courses__inner .block__courses .col .valuta__name {
    width: 50%;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }

  .our__courses .container .courses__inner .block__courses .col:not(:last-child) {
    border: 0;
  }

  .our__courses .container .courses__inner .block__courses .col:nth-child(1) {
    margin-bottom: 15px;
  }

  .our__courses .container .courses__inner .block__courses .col:nth-child(1) p span {
    font-weight: 700;
  }

  .our__courses .container .courses__inner .block__courses .col p:nth-child(1) {
    margin-bottom: 0;
  }

  .our__courses .container .courses__inner .block__courses .col p {
    width: 50%;
  }

  .our__courses .container .courses__inner .block__courses .col p .appointment__name {
    display: block;
    color: #979797 !important;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway";
  }

  .exchange__changer .container .exchanhe__changer__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container {
    width: 100%;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__arrows {
    position: absolute;
    top: 100%;
    right: 10rem;
    margin: 15px 0 0 0;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
    border-radius: 9px;
  }

  .exchange__changer .container .exchanhe__changer__block .custom__margin {
    display: block;
  }

  .exchange__changer .container .btn {
    padding: 19px 22px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
    border-radius: 9px;
    width: auto;
    height: auto;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    margin-right: 45px;
  }

  .actual__courses .container {
    padding: 20px;
  }

  .actual__courses .container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .actual__courses .container .left .title {
    text-align: center;
  }

  .actual__courses .container .mob {
    display: none;
  }
}

@media (max-width: 940px) {
  .our__services .container .services__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .our__services .container .services__inner .main {
    width: 100%;
    padding: 7px 20px;
  }

  .our__services .container .services__inner .main:not(:last-child) {
    margin-bottom: 10px;
  }

  .our__services .container .services__inner .main .head .top__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 0;
  }

  .our__services .container .services__inner .main .head .top__block img {
    height: auto;
    margin-right: 25px;
    width: 35px;
  }

  .our__services .container .services__inner .main .head .top__block svg {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .our__services .container .services__inner .main .head .top__block p {
    display: block;
  }

  .our__services .container .services__inner .main .head p {
    display: none;
  }

  .our__services .container .services__inner .main .body {
    height: auto;
    padding-bottom: 12px;
  }
}

@media (max-width: 900px) {
  .intro .container .gears img:nth-child(1) {
    display: none;
  }
}

@media (max-width: 830px) {
  .healthy__info .container .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .healthy__info .container .info__inner .main {
    width: 100%;
  }

  .healthy__info .container .info__inner .main:not(:last-child) {
    margin-bottom: 7px;
  }

  .healthy__info .container .info__inner .main .head {
    padding: 18px 20px;
    min-height: 31px;
  }

  .healthy__info .container .info__inner .main .head p {
    width: 100%;
    max-width: 29rem;
  }
}

@media (max-width: 800px) {
  .warranty .container .warranty__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .warranty .container .warranty__inner .col {
    padding-left: 0;
    width: 100%;
  }

  .warranty .container .warranty__inner .col:not(:last-child) {
    margin-bottom: 22px;
  }

  .warranty .container .warranty__inner .col:nth-child(4) {
    margin-bottom: 35px;
  }

  .warranty .container .warranty__inner .col .picture__wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    margin-right: 22px;
  }

  .warranty .container .warranty__inner .col .picture__wrap img {
    width: 16px;
  }

  .warranty .container .warranty__inner .col p {
    font-size: 9px;
  }
}

@media (max-width: 770px) {
  footer {
    padding: 35px 0 50px;
  }

  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  footer .container .footer_col.logo__area {
    width: 100%;
  }

  footer .container .footer_col.contacts,
  footer .container .footer_col.services {
    width: 50%;
    margin-top: 35px;
  }
}

@media (max-width: 740px) {
  .exchange__changer .container .exchanhe__changer__block .exchange__container {
    padding: 15px 20px 22px 20px;
    min-height: 8.5rem;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container p {
    font-size: 13px;
    margin-bottom: 6px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger select {
    font-size: 20px;
    margin-right: 0;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::-webkit-input-placeholder {
    font-size: 38px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::-moz-placeholder {
    font-size: 38px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input:-ms-input-placeholder {
    font-size: 38px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::-ms-input-placeholder {
    font-size: 38px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input::placeholder {
    font-size: 38px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger input {
    font-size: 38px;
  }

  .exchange__changer .container .exchanhe__changer__block .exchange__container .block__exchanger .convert__result {
    font-size: 38px;
  }
}

@media (max-width: 570px) {
  .intro::before {
    height: 40%;
    top: 55%;
  }

  .intro .container .intro__inner h1 {
    font-size: 20px;
    width: 100%;
    max-width: 15rem;
  }

  .intro .container .intro__inner div p {
    font-size: 11px;
  }

  .our__courses {
    margin-top: 0;
  }

  .our__courses .container .main__title {
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }

  .our__courses .container .courses__inner .block__courses .col:nth-child(1) p img {
    margin-right: 5px;
  }

  .our__courses .container .courses__inner .block__courses .col:nth-child(1) p span {
    font-size: 8px;
    font-weight: 700;
  }

  .our__courses .container .courses__inner .block__courses .col p:nth-child(1) {
    font-weight: 500 !important;
  }

  .our__courses .container .courses__inner .block__courses .col p {
    font-size: 8px;
    font-weight: 500;
  }

  .our__courses .container .courses__inner .block__courses .col p .appointment__name {
    font-size: 8px;
  }

  .exchange__changer {
    margin-top: 35px;
  }

  .our__services {
    margin-top: 105px;
  }

  .company__title {
    margin: 35px auto 0;
  }

  .warranty {
    margin-top: 35px;
  }

  .actual__courses {
    margin-top: 35px;
  }

  .actual__courses .container {
    border-radius: 14px;
  }

  .actual__courses .container .left .title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .actual__courses .container .left .subtitle {
    font-size: 11px;
    margin-bottom: 30px;
  }

  .actual__courses .container .left .tg__button span {
    margin-right: 0;
    font-size: 13px;
  }

  .actual__courses .container .left .tg__button img {
    display: none;
  }

  .map {
    margin-top: 35px;
  }

  .healthy__info {
    margin-top: 35px;
  }

  .healthy__info .container .info__inner .main .head p {
    font-size: 11px;
  }

  .healthy__info .container .info__inner .main .body {
    font-size: 10px;
  }

  .any__questions {
    margin-top: 35px;
  }

  .any__questions p {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .any__questions a {
    padding: 10px 24px;
  }

  .any__questions a span {
    font-size: 13px;
  }

  footer {
    margin-top: 35px;
  }

  footer .container .footer_col .logo__paragraph {
    font-size: 8px;
  }

  footer .container .footer_col .title {
    margin-bottom: 15px;
    font-size: 13px;
  }

  footer .container .footer_col .go_to_tg {
    padding: 6px 10px 6px 8px;
  }

  footer .container .footer_col .go_to_tg img {
    width: 10px !important;
    height: 8px !important;
  }

  footer .container .footer_col .go_to_tg span {
    font-size: 11px;
  }

  footer .container .services a:not(:last-child) {
    margin-bottom: 10px;
  }

  footer .container .services a {
    font-size: 11px;
  }

  .main__title {
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 430px) {
  .intro .container .gears img:nth-child(2) {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
}

@media (max-width: 370px) {
  .exchange__changer .container .exchanhe__changer__block .exchange__arrows {
    right: 8.6rem;
  }

  .exchange__changer .container .btn {
    margin-right: 20px;
  }

  .actual__courses {
    padding: 0 20px;
  }

  .container {
    padding: 0 20px;
  }
}